body {
    height: 100%;
    margin: 0;
  }
  
  .bg-image {
    background-image: url("./image/dinner.jpg");
    filter: blur(8px) grayscale(1);
    -webkit-filter: blur(8px) grayscale(1);
    height: 100vh; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.bg-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -74%);
}

.slogan {
    position: absolute;
    top: 40%;
    left: 47%;
    transform: translate(-40%, -40%);
}

.buttonNow {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-30%, -30%);
    background-color: #feb824;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 48px;
    width: 146px;
    font-family: Poppins;
    box-shadow: 
    0px 3px 1px -2px rgb(0 0 0 / 20%), 
    0px 2px 2px 0px rgb(0 0 0 / 14%), 
    0px 1px 5px 0px rgb(0 0 0 / 12%);

}

.buttonNow:hover {
  background-color: #d68b20;
}
